<div class="right-content">
	<div class="middle-menu">
		<header class="bar bar-header" >
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	       	<h1 class="title">已提交保单</h1>
	       	<button menu-toggle="right" class="button button-icon icon ion-add"></button>
	    </header>
	    <div class="tabs-positive">
	    	<div class="tabs" style="top:{{tabs}}px">
	    		<ul>
	    			<li ng-class="{'actived':isAlready}" ng-click="onClickTab(1)">已承保</li>
	    			<li ng-class="{'actived':!isAlready}" ng-click="onClickTab(0)">未承保</li>
	    		</ul>
	    	</div>
	    	<div id="mainView">
	            <div ng-include="currentTab"></div>
	        </div>
	    </div>
	</div>
	<div class="right-data">
		<ion-nav-view name="submitContent"></ion-nav-view>
	</div>
</div>