/***********************loading add by genglan 2015-1-24 ***************/
.popup-head,.popup-buttons {
  display: none;
}
.popup-container .popup {
  width: 275px;
  height: 180px;
  background: rgba(0,0,0,0.6);
  border-radius: 4px;
  text-align: center;
}
.popup-body {
  height: 100%;
  width: 100%;
}
.pop_up_box {
  width: 100%;
  line-height: 70px;
  color: #f9f9f7;
  font-size: 13px;
}
.pop_up_box span {
  display: block;
  width: 47px;
  height: 47px;
  margin: 0 auto;
  margin-top: 42px;
}
/*******成功提示框 add by genglan *******/
span.charging {
  background: url(../img/chengong.png) no-repeat;
  background-size: 100% 100%;
}
/*******失败提示框 add by genglan *******/
span.loser {
  background: url(../img/tixing.png) no-repeat;
  background-size: 100% 100%;
}
/*******加载提示框 add by genglan *******/
span.loading {
  width: 60px;
  height: 60px;
  background: url(../img/loading.png) no-repeat;
  background-size: 100% 100%;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes loading {
  from { -webkit-transform: rotate(0deg) translateZ(0); }
  to { -webkit-transform: rotate(360deg) translateZ(0); }
}